/* Configurações Iniciais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f8ff; /* Alice Blue */
    animation: fadeIn 2s ease-in-out;
    overflow-x: hidden; /* Prevent horizontal overflow on body */
    font-size: 18px; /* Increased base font size for larger elements */
}

h1 {
    font-size: 5rem; /* Larger font size for the title */
    color: #1e3a8a; /* Dark Blue */
}

main {
    width: 100%;
    padding: 0;
    display: block;
}

section {
    width: 100%;
    height: 100vh;
    background-color: #f0f8ff;
}

h2 {
    margin-top: 0;
    color: #1e40af; /* Medium Blue */
    font-size: 2rem; /* Larger font size for section titles */
}

p {
    color: #1e3a8a; /* Dark Blue */
    font-size: 1.2rem; /* Larger font size for paragraphs */
}

/* Header */
header {
    height: 100vh;
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 20vh; /* Increased margin for more space */
    padding: 2vh; /* Added padding for header */
}

#scroll-button{
    border: none;
    background-color: transparent;
    width: 128px;
    height: 128px;
    justify-content: center;
    align-items: center;
}

#scroll-button img{ 
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Intrucoes */

.center-div {
    display: flex;
    justify-content: space-evenly;
    height: 85vh;
}

.card {
    width: 300px;
    height: 400px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
    overflow: hidden;
    position: relative;
}
.description {
    font-size: 15px;
    box-sizing: border-box;
    overflow: auto; 
    scrollbar-width: thin;
    scrollbar-color: #b0b0b0 #f0f0f0;
}

.card h3{
    margin: 0;
    color: #1e3a8a; /* Dark Blue */
    font-size: 1.5rem; /* Larger font size for paragraphs */
}

#instrucoes button{
    display: flex;
    margin: 0 auto;
    margin-bottom: 20vh;
    justify-content: center;
    width: 100vh;
    background-color: #1e3a8a; /* Dark Blue */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2rem; /* Larger font size for buttons */
}

/* Quiz */
#quiz {
    width: 100%;
    height: 100vh;
    text-align: center;
}

#quiz h2{
    margin-bottom: 0;
}

.quiz-card{
    display: flex;
    flex-direction: column; /* Empilha itens verticalmente */
    width: 100%; /* Largura do container (ajuste conforme necessário) */
}

.card-image {
    display: flex; /* Define o container de imagens como flex container */
    width: 100%; /* Ocupa 100% da largura do pai */
}

.card-image img {
    flex: 1; /* Cada imagem ocupa metade da largura */
    max-width: 100%; /* Impede que as imagens ultrapassem a largura do container */
    margin: 10px;
    height: auto;
}
